.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 450px;
  min-width: 320px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
